NIST Document Ingestion (2).json
{
  "name": "NIST Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1WABp-eF5TvQjTVc1vdFEl8hILZhtcLid",
          "mode": "list",
          "cachedResultName": "policy",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1WABp-eF5TvQjTVc1vdFEl8hILZhtcLid"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0ec184ac-fbbd-46e1-ae3d-bb5445461c4e",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXYSHyQla1fz3ekb",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d93a719f-5232-4e10-9439-2112a1588872",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "vXYSHyQla1fz3ekb",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chat",
          "mode": "list",
          "cachedResultName": "chat"
        },
        "embeddingBatchSize": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "a43b445c-9b83-4c32-83fc-5a6f449289b9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "voDfQtjWYdpayBjU",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        208
      ],
      "id": "6576deed-ffca-4ab1-87f6-24c365bc30eb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "zozy50qVSwXOW5wg",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        656,
        208
      ],
      "id": "c6a87ae5-c847-42ee-8993-2bb60dfab8f5",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d63233d1-0180-4d63-9bc4-260046ed4a6d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8d011c2f812ec7e200695d2227c96dc4474ef1e8896029db884cdf781541befa"
  },
  "id": "hSsdscKk0EMYpGqY",
  "tags": []
}